html, body, div, span, applet, object,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.header_first {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.header_logo {
    width: 100px;
    background: red;
}

.navbar {
    width: 500px;
    background: chartreuse;
}

.header_email {
    width: 100px;
    background: cornflowerblue;
}

.header_second {
    background: yellow;
    height: 50px;
}

.container {
    margin: 0 auto;
    background: pink;
}

.banner {
    height: 200px;
    width: 64%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: cornflowerblue;
}

.banner_logo {
    background: chartreuse;
}

.banner_svg {
    height: 70px;
}

.banner_text {
    background: coral;
    right: 0;
}

.main_headlines {
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 100%;
    background: darkgray;
}

.main_col_1 {
    flex: 47%;
}

.main_col_2 {
    flex: 53%;
    background: darkkhaki;
}

.main_col_1_1 {
    width: 764px;
    height: 376px;
}

.main_col_1_2 {
    width: 764px;
    height: 248px;
}

.main_col_2_1 {
    width: 378px;
    height: 248px;
}

.main_col_2_2 {
    width: 378px;
    height: 248px;
}

.main_col_2_3 {
    width: 764px;
    height: 376px;
}

.popular_articles {
    height: 336px;
    background: cornsilk;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.popular_articles_title {}

.popular_articles_news {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.popular_articles_news li {
    display: flex;
    gap: 10px;
    width: 250px;
}

.latest {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: lightblue;
    margin: 0 auto;
    width: 1216px;
    padding: 100px 0 100px 0;
}

.latest_news {
    display: flex;
    flex-wrap: wrap;
}

.latest_link {
    width: 200px;
    margin-right: 100px;
    margin-bottom: 60px;
}

.latest_link img {
    width: 280px;
    height: 157.5px;
}

.latest_news_button {
    width: 50px;
    margin: 0 auto;
}

.explore {
    background: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.explore_items {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.explore_item {
    width: 291.2px;
    height: 232px;
    background: darkgoldenrod;
}

.newsletter {
    text-align: center;
    height: 336px;
    background: darkgray;
}

.videos {
    background: yellowgreen;
    padding: 70px 0 70px 340px;
}

.videos_player {
    display: flex;
    gap: 50px;
}

.videos_related {
    width: 285px;
    height: 160px;
}

.videos_others {
    display: flex;
    flex-direction: column;
}

.work {
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    padding: 50px 20px 50px 20px;
}

.work_main {
    display: flex;
}

.work_col_1 {
    width: 596px;
    height: 303px;
}

.work_col_2 {
    display: flex;
    flex-wrap: wrap;    
}

.work_item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work_item img {
    width: 112px;
    height: 112px;
}

.work_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.work_footer img {
    margin-top: 50px;
    width: 137px;
    height: 77px;
}

.footer {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 80rem;
}

.footer_row1 {
    display: flex;
}

.footer_col1 {
    width: 50%;
}

.footer_col2 {
    display: flex;
    gap: 30px;
}

.footer_col2 ul {
    list-style-type: none;
}